@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplica a todos los scrollbars del sitio */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #CBD5E1; border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: #94A3B8; }

[x-cloak] { display: none !important; }